body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}


/* BARRA SUPERIOR */
.top_bar {
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    height: 80px;
    width: 100%;
    padding: 0 22px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0px;
}

.top_bar img{
    width: 75px;
}

.top_bar .icon-people {
    font-size: 42px;
}


/* MENSAGENS */
.posts {
    background-color: #E5E5E5;

    height: auto;
    padding-top: 106px;
    padding-bottom: 80px;
}

.message {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    line-height: 20px;

    border-radius: 2px;

    padding: 14px 9px;
    margin-bottom: 4px;
    width: 100%;
    height: auto;
}

.message.status {
    background-color: #DCDCDC;
}

.message.private {
    background-color: #FFDEDE;
}

.message .hour {
    color: #AAAAAA;
    margin-right: 3px;
}

.message .info {
    font-weight: 700;
    margin-right: 2px;
}

.message .info .normal {
    font-weight: 400;
}


/* BARRA INFERIOR */
.bottom_bar {
    background-color: #fff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    height: 80px;
    width: 100%;
    padding: 0 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0px;
}

.bottom_bar input {
    background-color: #fff;
    border: none;
    
    height: 70%;
    width: 80%;
}

.bottom_bar input {
    font-size: 18px;
}

.bottom_bar input::placeholder{
    font-size: 18px;
    font-style: italic;
    color: #000;
}

.bottom_bar .send-message {
    font-size: 30px;
}


/* TELA DE LOGIN */
.login {
    background-color: #fff;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;



    position: fixed;
    z-index: 1;
}

.login .logo-login {
    width: 130px;
    height: 92px;

    margin: 72px 0 94px 0;
}

.login .input-name {
    background-color: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    padding: 0 10px;

    width: 261px;
    height: 54px;

    font-size: 18px;
}

.login .input-name::placeholder { /* CENTRALIZAR O PLACEHOLDER, MAS O TEXTO NÃO */
    font-size: 18px;
    color: #AEAEAE;
}

.login button {
    background-color: #E7E7E7;
    border: none;
    border-radius: 9px;
    margin-top: 15px;

    color: #696969;
    font-size: 18px;
    
    width: 109px;
    height: 54px;
}


.hidden {
    display: none;
}
